[% problems.size %] zones with potential problems:

[% FOREACH problem in problems %]
[% problem.zone %]	[% problem.description %]
[% END %]
==============================
[% totalErr.NOSIG %]	[% totalErr.EXPIRED %]	[% totalErr.INCEPT %]	[% totalErr.BADROLL %]	[% totalErr.DSPREPUB %]	[% totalErr.OTHER %]
