<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML><HEAD>
<TITLE>DNSSEC Deployment Status</TITLE></HEAD>
<BODY LANG="en-US" DIR="LTR"> <H1>DNSSEC Deployment Status</H1>
<p>This is the current snapshot of the state of DNSSEC deployment in a selection of domains.

<p>In the table below:</p>
<p><b>Signed</b> column indicates that the zone has DNSSEC RRs present or not (i.e. RRSIGs are returned in a response.</p>
<p><b>Status</b> column indicates whether or not the signatures are valid, or if there is some sort of error that would cause validation to fail.  Not having a signed delegation from .gov does not mean failure in this test.</p>
<p><b>Island/Chained</b> column indicates if the zone has a secure delegation (i.e. a DS RR) from its parent zone,
usually the top-level TLD or a second-level.</p>

<p><b>NOTE:</b> zones that are no longer present are the zones with <b>"Error"</b> in the last column.</p>
<p>Time: [% localtime %] </p>
<TABLE BORDER="4" CELLSPACING="4" CELLPADDING="5">
<CAPTION>Zone Status</CAPTION>
<TR> <TD align="center"> Zonename </TD>
[% IF globalClicks %]
<TD align="center"> Site Visits </TD>
[% END %]
<TD align="center"> Signed? </TD>
<TD align="center"> Status </TD>
<TD align="center"> Island or Chain? </TD>
</TR>


[% FOREACH zone IN zones %]
<TR>
<TD> [% zone.name %]</TD>
[% IF globalClicks %]
<TD align="right">[% zone.visits %]</TD>
[% END %]
[% IF zone.signed %]
<TD align="center" BGCOLOR="#008000"><FONT COLOR="#FFFFFF">Signed</FONT> </TD>
  [% IF zone.valid %]
  <TD align="center"BGCOLOR="#008000"><FONT COLOR="#FFFFFF">Valid</FONT> </TD>
  [% ELSE %]
<TD align="center"BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF"><a href="http://dnsviz.net/search/?d=[% zone.name %]">Error</a></FONT></TD>
  [% END %]
[% ELSE %]
<TD align="center" BGCOLOR="#FF0000"><FONT COLOR="#FFFFFF">Unsigned</FONT> </TD>
<TD align="center">N/A</TD>
[% END %]
[% IF zone.header %]
  [% IF zone.header.noerror %]
    [% IF zone.header.ansSec %]
<TD align="center"BGCOLOR="#008000"><FONT COLOR="#FFFFFF">Chain</FONT> </TD>
    [% ELSIF zone.signed %]
<TD align="center">Island</TD>
    [% ELSE %]
<TD align="center">N/A</TD>
    [% END %]
  [% ELSE %]
<TD align="center">Error</TD>
  [% END %]
[% ELSE %]
<TD align="center">Error</TD>
[% END %]
</TR>
[% END %]

<TR><TD align="center"><b>Totals:</b></TD>
[% IF globalClicks %]
<TD align="center">[% numVisits %]</TD> 
[% END %]
<TD align="center">[% numSigned %]</TD>
<TD align="center">[% numValid %]</TD>
<TD align="center">[% numChained %]</TD>

</TABLE>
<br/>
<HR>
<BR/>
</BODY>
</HTML>
