<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>DNSSEC Deployment Status</title>
<style type="text/css">
.error { 
    background-color: #FF0000;
    color: #FFFFFF;
}
.ok { 
    background-color: #008800;
    color: #FFFFFF;
}
</style>
</head>
<body lang="en-US" dir="ltr" xml:lang="en-US">
<h1>DNSSEC Deployment Status</h1>
<p>This is the current snapshot of the state of DNSSEC deployment in a selection of domains.</p>
<p>In the table below:</p>
<p><b>Signed</b> column indicates that the zone has DNSSEC RRs present or not (i.e. RRSIGs are returned in a response.</p> <p><b>Status</b> column indicates whether or not the signatures are valid, or if there is some sort of error that would cause validation to fail. Not having a signed delegation from .gov does not mean failure in this test.</p>
<p><b>Island/Chained</b> column indicates if the zone has a secure delegation (i.e. a DS RR) from its parent zone, usually the top-level TLD or a second-level.</p>
<p><b>NOTE:</b> zones that are no longer present are the zones with <b>"Error"</b> in the last column.</p>
<p>Time: [% localtime %] </p>
<table border="4" cellspacing="4" cellpadding="5">
<caption>Zone Status</caption>
<tr>
<td align="center">Zonename</td>
[% IF globalClicks %]
<td align="center">Site Visits</td>
[% END %]
<td align="center">Signed?</td>
<td align="center">Status</td>
<td align="center">Island or Chain?</td>
</tr>

[% FOREACH zone IN zones %]
<tr>
<td> [% zone.name %]</td>
[% IF globalClicks %]
<td align="right">[% zone.visits %]</td>
[% END %]
[% IF zone.signed %]
<td align="center" class="ok">Signed</td>
  [% IF zone.valid %]
  <td align="center" class="ok">Valid</font> </td>
  [% ELSE %]
<td align="center" class="error"><a href="http://dnsviz.net/search/?d=[% zone.name %]">Error</a></td>
  [% END %]
[% ELSE %]
<td align="center" class="error">Unsigned</td>
<td align="center">N/A</td>
[% END %]
[% IF zone.header %]
  [% IF zone.header.noerror %]
    [% IF zone.header.ansSec %]
<td align="center" class="ok">Chain</td>
    [% ELSIF zone.signed %]
<td align="center">Island</td>
    [% ELSE %]
<td align="center">N/A</td>
    [% END %]
  [% ELSE %]
<td align="center">Error</td>
  [% END %]
[% ELSE %]
<td align="center">Error</td>
[% END %]
</tr>
[% END %]

<tr>
<td align="center"><b>Totals:</b></td>
[% IF globalClicks %]
<td align="center">[% numVisits %]</td> 
[% END %]
<td align="center">[% numSigned %]</td>
<td align="center">[% numValid %]</td>
<td align="center">[% numChained %]</td>
</tr>
</table>
<br/>
<hr/>
<br/>
</body>
</html>
